@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

#container > div div{
  border: 5px solid red;
  margin:  10px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (prefers-reduced-motion: no-preference) {
}